In [1]:
import pandas as pd
import numpy as np

In [5]:
red = pd.read_csv('Data/winequality-red.csv', delimiter=";")
white = pd.read_csv('Data/winequality-white.csv', delimiter=";")

In [11]:
red['type'] = 'red'
white['type'] = 'white'

In [16]:
all_df = pd.concat([red, white], ignore_index = True)

In [25]:
all_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [24]:
all_df.to_csv('winequaltiy-all.csv')

In [21]:
np.std(all_df.quality.values)

0.8731880644450568